.title {
    font-style: italic;
    font-size: 125%;
    margin: 20px 0;
}

.table-wrapper {
    overflow-x: auto;
}

table {
    width: 100%;
}

.country-details-row {
    height: 0;
}

.country-row {
    td {
        border-bottom-width: 0;
    }
}

.country-details {
    overflow: hidden;
    display: flex;
}

.country-cell {
    .img-wrapper {
        $width: 32px;

        display: inline-block;
        width: $width;
        height: $width;
        margin-right: 5px;

        img {
            width: $width;
            vertical-align: middle;
        }

        mat-icon {
            width: $width;
            height: $width;
            $size: $width * 0.6;

            font-size: $size;
            $size-padding: ($width - $size) / 2;

            padding-left: $size-padding;
            padding-top: $size-padding;
            vertical-align: middle;
        }
    }
}
