@import '../../_settings';

$title-height: 20px;
$title-margin: 20px;

$paginator-height: 56px;
$modifiers-height: 57px;

.title {
    font-style: italic;
    font-size: 125%;
    margin: $title-margin 0;
    height: $title-height;
    text-align: center;
}

mat-paginator {
    height: $paginator-height;
}

.modifiers {
    display: flex;
    align-items: baseline;

    .filter {
        height: $modifiers-height;
        flex-basis: 80%;
        margin-right: 20px;
    }

    .toggle-1M {
        flex-basis: 20%;
    }
}

.table-wrapper {
    position: relative;
    overflow-y: scroll;
    height:
        calc(
            100vh
            - #{$super-header-height}
            - #{$title-height}
            - #{$paginator-height}
            - #{$modifiers-height}
            - #{$title-margin} * 2
        );
}

table {
    width: 100%;
}

@media (max-width: $medium-device) {
    table {
        width: $medium-device;
    }

    .table-wrapper {
        overflow-x: scroll;
    }
}

.loading-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
}

$country-column-width: 25%;

.mat-column-country {
    flex: none;
    width: $country-column-width;
}

.mat-column-cases {
    flex: none;
}

.mat-column-newCases {
    flex: none;

    mat-icon {
        $offset: 7px;

        font-size: 0.9em;
        margin-right: -$offset;
        margin-left: $offset;
        margin-top: $offset;
    }
}

$columns: (
    'activeCases',
    'newCases',
    'totalRecovered',
    'totalCases',
    'totalTests',
    'totalDeaths',
    // --
    'totalCases1M',
    'totalTests1M',
    'totalDeaths1M',
);

.mat-column- {
    @each $col in $columns {
        &#{$col} {
            width: (100% - $country-column-width) / 6;
        }
    }
}

.country-cell {
    .img-wrapper {
        $width: 32px;

        display: inline-block;
        width: $width;
        height: $width;
        margin-right: 5px;

        img {
            width: $width;
            vertical-align: middle;
        }

        mat-icon {
            width: $width;
            height: $width;
            $size: $width * 0.6;

            font-size: $size;
            $size-padding: ($width - $size) / 2;

            padding-left: $size-padding;
            padding-top: $size-padding;
            vertical-align: middle;
        }
    }
}
